:root {
    --bg: #f589a0;
    --env: #fcc9d9;
    --flap: #ffb3c1;
    --border: #ffc0cb;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: var(--bg);
    font-family: "Crimson Pro", Georgia, serif;
    -webkit-font-smoothing: antialiased;
    padding: 20px; 
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;   
    align-items: flex-start;
}



.envelope {
    width: calc(46vw);
    max-width: 340px;
    min-width: 220px;
    height: auto;
    position: relative;
    perspective: 900px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.env-body {
    width: 100%;
    height: 240px; 
    background: var(--env);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--border);
    box-sizing: border-box;
}



.env-flap {
    position: absolute;
    width: 110%;
    height: 60%;
    left: -5%;
    top: 0;
    background: var(--flap);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    transform-origin: top center;
    transition: transform 0.55s cubic-bezier(0.2, 0.9, 0.2, 1);
    z-index: 25;
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.02) inset;
}



.carta-texto {
    width: 88%; 
    height: 78%;
    background: white;
    border-radius: 12px;
    padding: 18px 14px; 
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
    z-index: 5;
    transition: 0.6s ease;
    line-height: 1.55;  
}

.carta-texto p {
    margin-bottom: 14px; 
}


.editarea {
    display: none;
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    outline: none;
    font-size: 16px;
    line-height: 1.5;
    font-family: inherit;
    background: transparent;
}



.envelope.open .env-flap {
    transform: rotateX(180deg);
}

.envelope.open .carta-texto {
    top: 8%;   
    height: 88%; 
    z-index: 20;
}

.envelope.open .editarea {
    display: block;
}



@media screen and (max-width: 430px) {

    body {
        padding: 0;
        overflow-x: hidden;
    }

    .envelope {
        width: 95vw;
        max-width: 420px;
        height: 360px;

        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
    }

   
    .carta-texto {
        position: absolute;
        bottom: -105%;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;
        transition: bottom .6s ease;
    }

    .envelope.open .carta-texto {
        bottom: 0;
    }

    .env-body {
        height: 260px;
    }

    .editarea {
        font-size: 17px;
        padding: 10px;
    }
}
